body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  margin: auto;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

p {
  color: white;
  margin: 0.5em auto;
}

h1 {
  margin: 0em auto 0.25em auto;
  font-size: 5em;
  text-align: center;
  font-family: cursive;
}

h2 {
  font-size: 3em;
  padding: auto auto 0em auto;
  margin: auto auto 0em auto;
}

h3 {
  color: white;
}

h4 {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

header {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0em;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 0em;
  height: 12em;
}

.headerbackhome:hover {
  font-size: 5em;
  cursor: pointer;
  width: fit-content;
}

@media (max-width: 1100px) {
  header {
    font-size: 90%;
  }
}

@media (max-width: 600px) {
  header {
    font-size: 80%;
  }
}

@media (max-width: 380px) {
  header {
    font-size: 60%;
  }
}

button {
  background-color: white;
  font-weight: bolder;
  border-radius: 70%;
  width: 4em;
  height: 4em;
  font-size: 1em;
  margin: 0em auto 4em auto;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  height: 3em;
  font-size: 1.25em;
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: cursive;
}

nav a:link {
  text-decoration: none;
  font-weight: bolder;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: black;
  border: 0.25em black;
  border-style: double;
  font-weight: bolder;
  font-size: large;
  border-radius: 50%;
  width: 5em;
  cursor: pointer;
}

@media (max-width: 385px) {
  nav {
    display: grid;
    height: fit-content;
  }
}
.singleImage {
  height: 18em;
  width: 18em;
  border-radius: 50%;
  border: 1em solid white;
  padding: 1em;
  margin: 0em;
}

/*------------- HOME PAGE------------------ */

.logo {
  margin: 13em auto 0em auto;
  width: 25%;
  height: 25%;
}

@media (max-width: 1900px) {
  .logo {
    margin: 12em auto 0em auto;
    width: 35%;
    height: 35%;
  }
}

@media (max-width: 1225px) {
  .logo {
    margin: 12em auto 0em auto;
    width: 45%;
    height: 45%;
  }
}

@media (max-width: 900px) {
  .logo {
    margin: 12em auto 0em auto;
    width: 55%;
    height: 55%;
  }
}

@media (max-width: 385px) {
  .logo {
    margin: 12em auto 0em auto;
    width: 65%;
    height: 65%;
  }
}

.homepage {
  margin: 0em auto 3em;
  padding: 0em auto 6em auto;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
}

.gettoknowme {
  background-color: white;
  font-size: 1em;
  border-radius: 50%;
  margin: 1em auto 2em auto;
  height: 8em;
  width: 8em;
  font-weight: bold;
  text-decoration: none;
}

.gettoknowme:hover {
  font-weight: bolder;
  font-size: large;
  background-color: black;
  color: white;
  border: 0.15em solid white;
  cursor: pointer;
  background-image: url("https://media.giphy.com/media/3o7btWtWIcrnr6Nvwc/giphy.gif");
  background-size: 3em;
}

/*------------- ABOUT PAGE------------------ */

.headshot {
  margin: 13em auto 0em auto;
  border: 1em solid white;
  border-radius: 50%;
  height: 13em;
  width: 13em;
  border-radius: 50%;
  border: 1em solid white;
  padding: 1em;
}

.aboutMe {
  color: white;
  margin: 1em auto 2em;
  width: 80%;
  font-size: 0.85em;
}

@media (max-width: 1900px) {
  .headshot {
    height: 10em;
    width: 10em;
  }
}

@media (max-width: 1225px) {
  .headshot {
    height: 8em;
    width: 8em;
    border: 0.75em solid white;
    padding: 1em;
  }
}

@media (max-width: 500px) {
  .headshot {
    margin: 13em auto 0em auto;
    border: 0.5em solid white;
    padding: 0.75em;
  }
}

@media (max-width: 385px) {
  .headshot {
    margin: 10em auto 0em auto;
    height: 5em;
    width: 5em;
  }
}

/*------------- PROJECT PAGE------------------ */

video {
  width: 25em;
  height: 12em;
}

.projectview {
  margin: 18em 2em 0em 2em;
}

.projectcontainer {
  display: flexbox;
  justify-content: space-evenly;
  margin: auto;
  border: 0.25em solid white;
  padding: 2em 1em 0em 1em;
  width: 40em;
  height: 40em;
}

.projectcontainer:hover {
  background-image: url("https://media.giphy.com/media/3o7btWtWIcrnr6Nvwc/giphy.gif");
  background-size: 6em;
}

.projectbutton {
  border-radius: 100%;
  width: 6em;
  height: 6em;
  margin: 1em 1em 0em 1em;
  font-size: 0.75em;
  text-align: center;
}

.projectbutton:hover {
  font-weight: bolder;
  font-size: large;
  border-radius: 50%;
  width: 6em;
  background-image: url("https://media.giphy.com/media/3o7btWtWIcrnr6Nvwc/giphy.gif");
  background-size: 3em;
  color: white;
  border: 0.15em solid white;
  cursor: pointer;
}

.projectgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column-gap: 2em;
  grid-row-gap: 8em;
  color: white;
  margin: auto;
}

@media (max-width: 1500px) {
  .projectview {
    margin: 18em 2em 0em 2em;
  }

  .projectgrid {
    grid-template-columns: 1fr 1fr;
  }

  .projectcontainer {
    border: 0.25em solid white;
    width: 33em;
    height: 33em;
  }

  .projectbutton:hover {
    font-weight: bold;
    font-size: xx-small;
    width: 5.75em;
    height: 5.75em;
    border: 0.25em solid white;
  }
}

@media (max-width: 1200px) {
  .projectview {
    margin: 16em 2em 0em 2em;
  }

  .projectgrid {
    grid-template-columns: 1fr 1fr;
  }

  .projectcontainer {
    border: 0.25em solid white;
    width: 33em;
    height: 33em;
    padding: 2em;
    font-size: 90%;
  }
}

@media (max-width: 1100px) {
  .projectview {
    margin: 18em 2em 0em 2em;
  }

  .projectgrid {
    grid-template-columns: 1fr 1fr;
  }

  .projectcontainer {
    border: 0.25em solid white;
    width: 32em;
    height: 32em;
    padding: 2em;
    font-size: 70%;
  }
}

@media (max-width: 900px) {
  .projectview {
    margin: 18em 2em 0em 2em;
  }

  .projectgrid {
    grid-template-columns: 1fr;
  }

  .projectcontainer {
    border: 0.25em solid white;
    width: 30em;
    height: 30em;
    padding: 2em;
    font-size: 70%;
  }

  .projectbutton {
    padding: 2em 0em;
  }
}

@media (max-width: 550px) {
  .projectview {
    margin: 14em 1em 0em 1em;
  }

  .projectcontainer {
    border: 0.25em solid white;
    width: 25em;
    height: 35em;
    padding: 2em;
    font-size: 70%;
  }

  .projectbutton {
    padding: 1em 0em;
  }
}

/*----------------RESUME PAGE -------------------*/

.resumeimage {
  margin: 20em auto 0em auto;
}

iframe {
  width: 80%;
  height: 75em;
  border: 1.5em solid white;
  padding: 1.5em;
}

@media (max-width: 550px) {
  .resumeimage {
    margin: 14em 1em 0em 1em;
  }

  .resumebutton {
    margin: 8em auto 0em;
  }

  iframe {
    display: none;
  }
}

/*------------- DISCOVERY PAGE------------------ */

.selector {
  margin: 20em auto 0em auto;
}

.selectorbutton {
  margin: 2em auto 2em auto;
  width: 5em;
  height: 5em;
}

.selectorbutton:hover {
  font-weight: bolder;
  font-size: x-large;
  border-radius: 50%;
  width: 7em;
  height: 7em;
  background-image: url("https://media.giphy.com/media/3o7btWtWIcrnr6Nvwc/giphy.gif");
  background-size: 2em;
  color: white;
  border: 0.15em solid white;
  cursor: pointer;
}

select {
  display: flex;
  text-align-last: center;
  font-size: 1em;
  font-weight: bolder;
  background-color: white;
  min-width: 10em;
  height: 2em;
  margin: 3em auto 1em auto;
  padding: auto;
  cursor: pointer;
}

.myvideonotes {
  font-family: cursive;
  font-weight: lighter;
  color: yellow;
  font-size: 1.5em;
}

.myvideogrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.myvideos {
  margin: 0.25em;
  border: 0.5em solid white;
}

.myvideostitles {
  padding: 0em;
  margin: 2em auto 0em auto;
}

.myvideossubtitles {
  padding: 0em;
  margin: 0em auto;
  font-style: italic;
  font-size: 0.75em;
}

.giphyresults {
  border: 0.25em solid white;
  height: 12em;
  width: 12em;
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-column-gap: 2em;
  grid-row-gap: 8em;
  color: white;
  font-size: 1.5em;
  margin: auto auto 2.5em auto;
}

@media (max-width: 1900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1225px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .myvideogrid {
    grid-template-columns: 1fr;
  }

  .myvideos {
    width: 50%;
  }
}

/*----------------FOOTER-------------------------*/
footer {
  display: flexbox;
  align-items: center;
  justify-content: center;
  background: white;
  width: 100%;
  height: 6em;
  position: static;
  margin: 16em auto 0em auto;
  bottom: 0em;
  padding: 0em;
}

.footer {
  font-family: cursive;
  font-size: 1.5em;
  color: black;
  padding: 0em;
  margin: 0em;
}

.fa {
  padding: 0.5em;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  margin: .2em 0.5em 0em 0.5em;
  cursor: pointer;
  border-radius: 50%;
  background: black;
  color: white;
}

.fa:hover {
  opacity: 0.6;
}

/*----------------CONTACT PAGE ------------------------*/

.contactform {
  margin: 20em auto 0em auto;
}

.contactheader {
  font-size: 3em;
  font-family: cursive;
}
.forminput {
  width: 10em;
  margin: auto;
  text-align: center;
  font-size: 2em;
}

.formtextarea {
  width: 10em;
  margin: auto;
  text-align: center;
  font-size: 2em;
}

/*----------------404 PAGE ------------------------*/

.page404 {
  margin-top: 6.5em;
  color: white;
}

@media (max-width: 500px) {
  .simplepage {
    margin: 40em auto 5em auto;
    font-size: 80%;
  }
}
