body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  margin: auto;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

header {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0em;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 0em;
  height: 8em;
  background-image: url("https://media.giphy.com/media/3o7btWtWIcrnr6Nvwc/giphy.gif");
  background-size: 3.5em;
}

p {
  color: white;
  margin: 0.5em auto;
}

h1 {
  margin: 0em auto 0.25em auto;
  font-size: 5em;
  text-align: center;
}

h2 {
  font-size: 3em;
  padding: auto auto 0em auto;
  margin: auto auto 0em auto;
}

h3 {
  color: white;
}

h4 {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

button {
  background-color: white;
  font-weight: bolder;
  border-radius: 70%;
  width: 4em;
  height: 4em;
  font-size: 1em;
  margin: 0em auto 4em auto;
}

button:hover {
  cursor: pointer;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  height: 2em;
  font-size: 1.25em;
  background-color: rgb(255, 255, 255);
  color: black;
}

nav a:link {
  text-decoration: none;
  font-weight: bolder;
}

nav a:visited {
  color: black;
}

nav a:hover {
  /* background-color: black; */
  color: black;
  border: 0.15em solid black;
  font-weight: bolder;
  font-size: x-large;
  border-radius: 50%;
  width: 5em;
  cursor: pointer;
}

.page404 {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 2em auto 1em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  font-family: cursive;
  font-size: 1.5em;
  width: 100%;
  height: 2em;
  position: relative;
  bottom: 0em;
  margin: 3em auto 0em auto;
  padding: 0em;
}

.singleImage {
  height: 18em;
  width: 18em;
  border-radius: 50%;
  border: 2em solid white;
  padding: 2em;
  margin: 0em;
}

/*------------- HOME PAGE------------------ */

.logo {
  margin: 7em auto 0em auto;
  width: 25%;
  height: 25%;
}

@media (max-width: 600px) {
  .logo {
    margin: 7em auto 0em auto;
    width: 70%;
    height: 70%;
  }
}

.homepage {
  margin: 0em auto 3em;
  padding: 0em auto 6em auto;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
}

.gettoknowme {
  background-color: white;
  font-size: 1em;
  border-radius: 50%;
  margin: auto;
  height: 8em;
  width: 8em;
  font-weight: bold;
  text-decoration: none;
}

.gettoknowme:hover {
  font-weight: bolder;
  font-size: large;
  background-color: black;
  color: white;
  border: 0.15em solid white;
  cursor: pointer;
  background-image: url("https://media.giphy.com/media/3o7btWtWIcrnr6Nvwc/giphy.gif");
  background-size: 3em;
}

/*------------- ABOUT PAGE------------------ */

.headshot {
  margin: 8em auto 0em auto;
  border: 1em solid white;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}

.aboutMe {
  color: white;
  margin: 1em auto 2em;
  width: 80%;
  font-size: 0.85em;
}

@media (max-width: 1900px) {
  .headshot {
    height: 20em;
    width: 20em;
  }
}

@media (max-width: 1225px) {
  .headshot {
    height: 15em;
    width: 15em;
  }
}

@media (max-width: 900px) {
  .headshot {
    height: 10em;
    width: 10em;
  }
}

/*------------- PLAY PAGE------------------ */

select {
  display: flex;
  text-align-last: center;
  font-size: 1em;
  font-weight: bolder;
  background-color: white;
  min-width: 20vh;
  height: 4em;
  margin: 10em auto 1em auto;
  padding: auto;
  cursor: pointer;
}

img {
  height: 12em;
  width: 12em;
  border: 0.5em solid black;
  bottom: 0em;
  margin: auto auto 5em auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  color: white;
  font-size: 1.5em;
  margin: auto;
}

@media (max-width: 1900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1225px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/*------------- PROJECT PAGE------------------ */

.projectview {
  margin: 16em 8em 0em 8em;
}

.projectbutton {
  border-radius: 100%;
  width: 6em;
  height: 6em;
  margin: 1em 1em auto 1em;
  font-size: 0.75em;
  text-align: center;
}

.projectbutton:hover {
  font-weight: bolder;
  font-size: large;
  border-radius: 50%;
  width: 6em;
  background-image: url("https://media.giphy.com/media/3o7btWtWIcrnr6Nvwc/giphy.gif");
  background-size: 3em;
  color: white;
  border: 0.15em solid white;
  cursor: pointer;
}

.projectgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column-gap: 1em;
  grid-row-gap: 8em;
  color: white;
  margin: auto;
}

@media (max-width: 1900px) {
  .projectgrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1225px) {
  .projectgrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .projectgrid {
    grid-template-columns: 1fr;
  }
}
